name: Deploy to Github Pages

on:
  push:
    branches: [ develop ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: yarn install
    - run: yarn build
    - run: git config --global user.name Shiropetite
    - run: yarn deploy

   
