name: Deploy to Github Pages

on:
  push:
    branches: [ develop ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: yarn install
    - run: yarn build
    - run: ls
    - run: cd dist
    - run: ls
    - run: git config --global user.name Shiropetite
    - run: git add --all
    - run: git commit -m "Deploy on master updated"
    - run: git push origin master

   
