name: Deploy to Github Pages

on:
  push:
    branches: [ develop ]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - run: yarn
    - run: cd ..

  build:
    runs-on: ubuntu-latest
    steps:
    - run: yarn build
    - run: yarn dev
